header {
    display: flex;
    align-items: center;
}

header i{
    font-size: 50px;
    margin: 0 15px;
    color: yellow;
}

header .logoName {
    font-size: 50px;
}

main {
    display: flex;
}

section {
    width: 50%;
    padding: 30px;
}

.description {
    border : 3px solid white;
    border-radius: 20px;
    padding: 10px;
}

.genres {
    padding: 0;
}

.genre {
    list-style: none;
    margin: 10px;
}

.title{
    color: white;
}

