body{
    margin: 0;
    font-family: "Frank Ruhl Libre";   
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.coverImg{
    margin-top: 100px;
    width: 300px;
}

.title{
    color: whitesmoke;
    text-decoration: none;
    text-decoration-line : none;
    font-size: 20px;
}

.summary {
    width: 400px;
    color: white;
}

ul{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.genres {
    color: white;
    list-style: none;
}