body{
    margin: 0;
    font-family: "Frank Ruhl Libre";
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    border : 1px solid white;
}

.coverImg{
    width: 300px;
}

.title{
    color: whitesmoke;
    text-decoration: none;
    text-decoration-line : none;
    font-size: 20px;
}

.summary {
    width: 400px;
    color: white;
}

ul{
    width: 300px;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.genres {
    margin: 15px;
    color: white;
    list-style: none;
    border : 1px solid white;
}